<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="razorpayDemo">
<hr/>
<div class="container" ng-controller="RazorPayController">
    <div class="row">
        <div class="row"> <label>Enter Amount</label> <input type="text" ng-model="amount" class="input-sm spacing"/></div>
        <div class="row"> <label>Select Currency</label>
            <select class="input-sm spacing" ng-model="currency" ng-options="x for x in currencies">
        </select>
        </div>
        <div class="row">
            <button class="btn btn-sm btn-info" id="rzp-button1" ng-click="createOrderAndPay()">Pay</button>
        </div>
    </div>
    <hr/>
    <div class="row"> <label>{{message}}</label>
    <hr/>
</div>

</body>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/RazorPayService.js"></script>
<script src="js/app/RazorPayController.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>